

body {
    background-color:rosybrown;
    font-size: 18px;
    max-width: 900px;
    margin: auto;    
    font-family: 'Yeon Sung', cursive;
    min-height: 100vh;
    padding-bottom: 100px;
}

body.homepage {
    background-image: url('hommie.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site {
    margin: auto;
    color: white;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

.navigation {
    padding: 0;
}
.navigation li{
    display: inline-block;
    margin-right: 15px;
}
 video {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;

}
h1{
    color: rgb(253, 251, 251);

}
p{
    color: maroon (58, 32, 8);
}

a{
    color: black;
}
.center{
    color:whitesmoke;
}
}
#myBtn {
    background: bisque;
}
#myBtn:hover {
    background-color: #555 ;  
}

footer {
    clear: both;
    position: absolute;
    bottom: 10px;
}

.container {
    display: flex;
}

.left-column img,
.right-column img {
    width: 100%;
}

.left-column,
.right-column {
    width: 50%;
    padding: 20px;
}


@media screen and (max-width: 500px){
    body {
        background : palevioletred;
    }
    p{
        font-size: 28px;
    }
}